@charset "UTF-8";
/*Estilo para impressoras*/
*{
    margin:10px;
    padding: 10px;
}
html{
   font-family: 'Courier New', Courier, monospace;
   font-size: 1em;
   line-height: 1.5em; 
}
menu{
    display: none; /*display none, não vai ser exibido o menu*/
}
article{
    width: 100%;
}
article::after{ /*depois do article*/
 content: 'Esse artigo foi impresso através do site www.cursoemvideo.com'
}